.about {
    background: url('../../assets/about.webp') no-repeat center center;
    background-size: cover; /*
    background-image: linear-gradient(
        195deg,
        hsl(240deg 27% 19%) 0%,
        hsl(243deg 36% 25%) 3%,
        hsl(243deg 41% 22%) 25%,
        hsl(246deg 55% 10%) 100%
    );*/
}

.mtop-title {
    margin-top: 10%;
}

.social-about {
    margin-top: 1em;
}

.social-about a {
    padding: 8px 8px;
}

.content h2 {
    font-size: 40px;
    color: #fdb827;
}

@media only screen and (max-width: 1024px) {
    p,
    span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .content,
    .container {
        height: auto;
    }
    .title {
        margin-top: 25%;
    }
    .social-about {
        margin-bottom: 10%;
    }
    .mtop-title {
        margin-top: 30%;
    }
}
