.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}
.sub-proje-title {
	padding-left: 3px;
}

.works-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	margin-top: 5%;
}

.work1 {
	grid-area: 1 / 1 / 2 / 2;
}
.work2 {
	grid-area: 1 / 2 / 2 / 3;
}
.work3 {
	grid-area: 2 / 1 / 3 / 2;
}
.work4 {
	grid-area: 2 / 2 / 3 / 3;
}
.work5 {
	grid-area: 3 / 1 / 4 / 2;
}
.work6 {
	grid-area: 3 / 2 / 4 / 3;
}

.gridspace {
	display: flex;
	margin: auto;
	height: 700px;
	width: 560px;
	margin-top: 5%;
	margin-bottom: 50px;
	overflow: hidden;
	border: 1px solid #444;
}

.thumb {
	align-self: center;
	object-fit: cover;
	object-position: 0;
	cursor: pointer;
	height: 100%;
}

.link {
	height: 700px;
	width: 560px;
	z-index: 10;
	position: absolute;
}

.link:hover {
	background-color: #282936;
	box-sizing: border-box;
	transition: ease-in 0.3s;
}

.thumb-text {
	position: absolute;
	top: 80px;
	left: 50px;
	z-index: 20;
	color: #fff;
	font-size: 2rem;
	font-weight: 500;
}

@media only screen and (max-width: 1024px) {
	.gridspace,
	.link {
		height: 600px;
		width: 450px;
	}
}

@media only screen and (max-width: 768px) {
	.works-grid {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 481px) {
	.text {
		text-align: justify;
	}
	.works-grid {
		display: flex;
		flex-direction: column;
	}
	.gridspace,
	.link {
		height: 600px;
		width: 350px;
	}
	.thumb-text {
		max-width: 280px;
		top: 50px;
		left: 20px;
		text-align: left;
	}
}

@media only screen and (max-width: 370px) {
	.gridspace,
	.link {
		height: 600px;
		width: 330px;
	}
}

@media only screen and (max-width: 321px) {
	.gridspace,
	.link {
		height: 600px;
		width: 300px;
	}
}
