.contact {
    background: url('../../assets/contact.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.contact-section {
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* From https://css.glass */
    background: rgba(0, 0, 4, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}
.contacts a {
    padding: 12px 20px;
    color: #fdb827;
}

@media only screen and (max-width: 1024px) {
    .container-contact {
        margin: 0;
        align-items: center;
        justify-content: center;
    }
}
