.container {
    display: table;
    max-width: 850px;
    margin: auto;
    height: 100vh;
}

.content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.title-home {
    font-size: 60px;
    margin-bottom: 5%;
}

.title {
    font-size: 60px;
    margin-bottom: 5%;
}

p {
    font-size: 24px;
}

.social {
    margin-top: 5%;
}

.social a {
    padding: 12px 12px;
}

.background {
    background: url('../../assets/mar.jpg') no-repeat center center;
    background-size: cover;
}

@media only screen and (max-width: 1024px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .title-home,
    .text {
        margin-top: 30%;
        margin-bottom: 5%;
    }
}
