main {
	margin-left: 5%;
}

.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home {
	background: url("../../assets/iconai.png") no-repeat center center;
	background-size: 550px 700px;
	background-position: 105% 90%;
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.home-fade {
	opacity: 0.5;
	transition: opacity 0.6s linear;
}

.resume {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.row {
	display: flex;
	flex-direction: row;
}

.main {
	width: 60%;
}

.social {
	margin-top: 5%;
}

.social a {
	padding-right: 20px;
}

.scrolldown {
	color: #0f141e;
	animation: 2.35s linear 0s infinite normal none running animation;
	padding: 0px 20px;
	margin: 30px auto 20px auto;
	position: absolute;
	bottom: 10px;
	left: 50vw;
}

.btn-contact {
	position: fixed;
	width: 12rem;
	height: auto;
	left: 63px;
	bottom: 40px;
	z-index: 20;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}

.circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #0d2b35;
	border-radius: 1.625rem;
}

.icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

.button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #0d2b35;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

.btn-contact:hover .circle {
	width: 100%;
}

.btn-contact:hover .arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

.btn-contact:hover .button-text {
	color: #fff;
}

/* .profile {
	width: 600px;
	height: 700px;
	transition: ease-in;
	object-fit: contain;
	visibility: hidden;
} */

#hometitle {
	margin-left: -0.3rem;
}

.title {
	font-size: 4.5rem;
	line-height: 4.68rem;
	color: #0d2b35;
	margin: 1.2rem 0;
	font-weight: 650;
}

.subtitle-home {
	font-weight: 500;
	color: rgba(41, 38, 38, 0.884);
}

p {
	font-size: 1.3rem;
	line-height: 1.87rem;
	font-weight: 500;
	color: rgba(41, 38, 38, 0.884);
}

h2 {
	font-size: 40px;
	color: #0d2b35;
}

.btn-back {
	position: fixed;
	height: 48px;
	right: 20px;
	bottom: 40px;
	z-index: 20;
	display: inline-block;
	cursor: pointer;
	border-radius: 30px;
	background-color: #f1f1f1;
}

.btn-back path {
	color: #0d2b35;
}

/*                ScrollDown                      */
.mouse_scroll {
	position: absolute;
	margin: 0 auto;
	z-index: 10;
	bottom: 2.5em;
	left: 50vw;
}

.m_scroll_arrows {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
	border-right: 2px solid #0d2b35;
	border-bottom: 2px solid #0d2b35;
	margin: 0 0 3px 4px;
	width: 16px;
	height: 16px;
}

.unu,
.doi,
.trei {
	-webkit-animation: mouse-scroll 1s infinite;
	-moz-animation: mouse-scroll 1s infinite;
	animation: mouse-scroll 1s infinite;
}

.unu {
	margin-top: 1px;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	animation-delay: alternate;
}

.doi {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-webkit-animation-direction: alternate;
	animation-delay: 0.2s;
	animation-direction: alternate;
	margin-top: -6px;
}

.trei {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-webkit-animation-direction: alternate;
	animation-delay: 0.3s;
	animation-direction: alternate;
	margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes mouse-scroll {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes mouse-scroll {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes mouse-scroll {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-height: 768px) {
	.home {
		background-position: 800px 100px;
	}
	.resume {
		margin-top: 0px;
		margin-bottom: 100px;
	}
}

@media only screen and (max-width: 1024px) {
	.home {
		background-position: 500px 150px;
	}
}

@media only screen and (max-width: 768px) {
	.home {
		background-position: 300px 100px;
	}
	.resume {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 481px) {
	.home {
		height: 85vh;
		background: none;
	}
	.main {
		width: auto;
	}
	.btn-contact {
		left: 20px;
		bottom: 30px;
	}
	p {
		font-size: 18px;
	}
	.title {
		font-size: 60px;
	}
	.mouse_scroll {
		display: none;
	}
	.btn-back {
		bottom: 30px;
	}
}

@media only screen and (max-width: 321px) {
	.home {
		height: 90vh;
	}
	.main {
		margin: auto 10px auto 5px;
	}
}

/*                Scrollbar                       */
/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(18, 18, 18, 0.36);
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
