.contact {
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	margin-bottom: 10em;
}

.contacts a {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 10px 0;
}

.contacts span {
	font-size: 1.3rem;
	line-height: 1.87rem;
	font-weight: 500;
	color: rgba(41, 38, 38, 0.884);
}

@media only screen and (max-width: 481px) {
	.contact {
		height: 60vh;
		text-align: center;
	}
}

@media only screen and (max-width: 321px) {
	.contact {
		height: 50vh;
		margin-top: 80%;
	}
}
