* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    color: #0f141e;
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    color: #fff;
}
